  <div class="card-container">
    <mat-toolbar class="card-navBar">
      <div class="favicon-navBar">
        <a href="/home">
          <img src="/assets/favicon/Soro/favicon.ico" class="favicon">
        </a>
        <h1>Drop Tracking</h1>
      </div>
      <div class="navBar-buttons-center">
        <a href="/monitor">Monitor</a>
        <a href="/alert">Alert</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/register">Register</a>
      </div>
      <div class="navBar-buttons-right">
        <a href="/about" class="nav-btn">About</a>
        <a href="/help" class="nav-btn">Help</a>
        <a class="nav-btn" (click)="logout()">Logout</a>
      </div>
    </mat-toolbar>

    <div class="forms-grid">
      <div *ngFor="let form of forms; let i = index" class="form-section">
        <!-- Botão Add -->
        <button *ngIf="!showForms[i]"
                mat-stroked-button
                type="button"
                class="btn-add"
                (click)="addNewForm(i)">
          <img src="assets/icon/add_mobile.svg" class="btn-icon"> Formulário {{ i + 1 }}
        </button>
        <!-- Formulário -->
        <div class="form-container" *ngIf="showForms[i]">
          <form [formGroup]="forms[i]" (ngSubmit)="onSubmit(i)">
            <!-- Campo Nome -->
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nome" placeholder="Digite seu nome">
            </mat-form-field>
            <!-- Campo CPF -->
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpf" placeholder="Digite seu CPF">
            </mat-form-field>
            <!-- Ações -->
            <div class="form-actions">
              <button mat-raised-button color="primary" type="submit">Salvar</button>
              <button mat-stroked-button color="warn" type="button" (click)="cancelForm(i)">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

