/*********************** Container Start ***********************/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  height: 100dvh;
  padding: 16px;
  background-image: url('/assets/imagens/infusao-medicinal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}
/*********************** Card of Login ***********************/
.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* organiza em coluna */
  width: 100%;
  max-width: 310px; /* ou mais, dependendo do layout desejado */
  min-width: 280px;
  min-height: 230px; /* em vez de height fixo */
  border-radius: 16px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
/*********************** Input Field ***********************/
.input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.password-icon {
  width: 24px;
  height: 24px;
  filter: invert(1); /* Branco para botões escuros */
}
/*********************** Buttons ***********************/
.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
/* Tamanho dos Ícones */
.btn-icon{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  vertical-align: middle; /* Mantém alinhado com o texto */
}

/* Botão primário (Login) */
.btn-login{
  background-color: #007bff; /* Azul */
  color: white !important;   /*Sobrepõem a cor primaria do angular*/
}
.btn-login:hover {
  background-color: #1743c1;
}

/* Botão secundário (Register) */
.btn-register {
  background-color: #28a745; /* Verde */
  color: white !important;
}
.btn-register:hover {
  background-color: #218838;
}
/*********************** Responsiveness smaller screens ***********************/
@media (max-width: 600px) {
  .card-login {
    padding: 16px;
    max-width: 50vw;
  }
  .btn-icon {
    width: 24px;
    height: 24px;
  }
  .btn-login,
  .btn-register {
    font-size: 14px;
    padding: 8px;
  }
  .mat-form-field {
    font-size: 14px;
  }
}


